<div class="container-fluid body-content-wrapper welcome-index-page">
<h1>Find Here Top Motivatinal Blogs</h1>
<p>FEED YOUR MIND WITH SUCCESS</p>
<%= link_to 'Search Blog', controller: 'articles' %>
</div>