// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: rgb(236, 46, 84);
  text-align: center;
}

.navbar {
  background-color: rgb(247, 65, 98);
}
.navbar-toggle .icon-bar {
  background: black;  
}
.navbar li a {
  color: white;
}
  
.article-display a{
  color: rgb(238, 8, 65);
}

.new-article a {
  font-size: 25px;
  color: rgb(235, 67, 98);
  border: 2px solid rgb(243, 39, 107);
}

.new-article {
  margin: 20px;
  text-align: center;
}

