// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: rgb(236, 46, 84);
  text-align: center;
}

.navbar {
  background-color: rgb(243, 26, 91);
}
  
.article-display a{
  color: rgb(238, 8, 65);
}

.new-article {
  text-align: center;
  font-size: 30px;
  color: blue;
}