// Place all the styles related to the Subscribes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar {
  background-color: rgb(255, 202, 211);
  padding: 20px;
  border: 1px thick rgb(245, 80, 137);
  border-radius: 20px;

}