// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  position: relative;
  min-height: 100%;
}
body{ 
  min-height: 100%;
  font-family: "American Typewriter", "serif";
}

.body-content-wrapper{
  min-height: 100%;
  margin-bottom: 100px; //height of the footer plus some padding
  margin-top: 50px;
}

.welcome-index-page {
  text-align: center;
}
.project-name a{
  font-size: 25px;
  color: white;
}

footer {
  background-color: rgb(247, 196, 196);
  color: red;  
  width: 100%;
  bottom: 0;
  height: 50px;
  padding:10px;
  display: block;
  overflow:auto;
  text-align:center;
  float:left;
  margin-top:50px;
  position: absolute;
}