<h1>Our Subscribers</h1>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @subscribes.each do |subscribe| %>
        <tr>
          <td><%= subscribe.email %></td>
          <td><%= subscribe.subscriber_name %></td>
          <td><%= link_to 'Destroy', subscribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>